Code execution

```
TEST_CENSUS=./surge010220240920.json MIN_PRIVACY_THRESHOLD=3 MIN_ACCURACY=50 GROUP_BALANCE_DIFF=10  go test -timeout 30s -v -run ^TestAutoRoundingAlgorithm$ 
=== RUN   TestAutoRoundingAlgorithm
    round_test.go:151: Min Privacy Threshold: 3, Privacy Threshold: 3, MinAccuracy: 50%, Accuracy: 68.20%, Groups: 3, Holders: 2581
--- PASS: TestAutoRoundingAlgorithm (0.08s)
PASS
ok      roundedcensus   0.221s
```

In [2]:
import pandas as pd
import json

In [3]:
with open('surge010220240920.json', 'r') as file:
    surge_data = json.load(file)

surge_df = pd.DataFrame(surge_data.items(), columns=['address', 'balance'])
surge_df['balance'] = surge_df['balance'].apply(lambda x: int(x))
print("Surge original data")
surge_df.describe()

Surge original data

           balance
count  2581.000000
mean      1.937234
std       4.344195
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max     202.000000

In [4]:
print("Group by balances")
surge_df.groupby('balance').size().reset_index(name='count').sort_values('balance', ascending=True).head(30)

Group by balances

    balance  count
0         1   1662
1         2    441
2         3    151
3         4     70
4         5    209
5         6     11
6         7     10
7         8      6
8         9      6
9        10      1
10       11      1
11       12      2
12       13      1
13       14      1
14       15      1
15       16      2
16       17      1
17       19      1
18       20      1
19       27      1
20       36      1
21      202      1

In [5]:
with open('surge010220240920_anonymous.json', 'r') as file:
    surge_anon_data = json.load(file)

surge_anon_df = pd.DataFrame(surge_anon_data.items(), columns=['address', 'balance'])
surge_anon_df['balance'] = surge_anon_df['balance'].apply(lambda x: int(x))
print("Original data")
surge_anon_df.describe()

Original data

           balance
count  2581.000000
mean      1.128245
std       4.018299
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max     202.000000

In [6]:
print("Number of address for the lowest balances groups")
surge_anon_df.groupby('balance').size().reset_index(name='count').sort_values('balance', ascending=True).head(20)

Number of address for the lowest balances groups

   balance  count
0        1   2567
1       11     13
2      202      1

In [7]:
print("Number of address for the hightest balances groups")
surge_anon_df.groupby('balance').size().reset_index(name='count').sort_values('balance', ascending=False).head(20)

Number of address for the hightest balances groups

   balance  count
2      202      1
1       11     13
0        1   2567

In [8]:
print("Balances with more address grouped")
surge_anon_df.groupby(["balance"]).count().sort_values('address', ascending=False).head(20)

Balances with more address grouped

         address
balance
1           2567
11            13
202            1

In [9]:
print("Balances with less address grouped")
surge_anon_df.groupby(["balance"]).count().sort_values('address', ascending=True).head(20)

Balances with less address grouped

         address
balance
202            1
11            13
1           2567