In [1]:
import pandas as pd
import json

In [2]:
with open('holders.json', 'r') as file:
    holders_data = json.load(file)

holders_df = pd.DataFrame(holders_data.items(), columns=['address', 'balance'])
holders_df['balance'] = holders_df['balance'].apply(lambda x: int(x))
print("Original holders data")
holders_df.describe()

Original holders data

           balance
count  5451.000000
mean      1.001468
std       0.063518
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       5.000000

In [3]:
print("Grouped holders by common balances")
holders_df.groupby('balance').size().reset_index(name='count').sort_values('balance', ascending=True).head(30)

Grouped holders by common balances

   balance  count
0        1   5447
1        2      2
2        3      1
3        5      1

In [4]:
with open('holders_rounded.json', 'r') as file:
    holders_rounded_data = json.load(file)

holders_rounded_df = pd.DataFrame(holders_rounded_data.items(), columns=['address', 'balance'])
holders_rounded_df['balance'] = holders_rounded_df['balance'].apply(lambda x: int(x))
print("Rounded holders data")
holders_rounded_df.describe()

Rounded holders data

           balance
count  5451.000000
mean      1.000734
std       0.027081
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       2.000000

In [5]:
print("Number of address for the lowest balances groups")
holders_rounded_df.groupby('balance').size().reset_index(name='count').sort_values('balance', ascending=True).head(20)

Number of address for the lowest balances groups

   balance  count
0        1   5447
1        2      4

In [6]:
print("Number of address for the highest balances groups")
holders_rounded_df.groupby('balance').size().reset_index(name='count').sort_values('balance', ascending=False).head(20)

Number of address for the highest balances groups

   balance  count
1        2      4
0        1   5447

In [7]:
print("Balances with more address grouped")
holders_rounded_df.groupby(["balance"]).count().sort_values('address', ascending=False).head(20)

Balances with more address grouped

         address
balance
1           5447
2              4

In [8]:
print("Balances with less address grouped")
holders_rounded_df.groupby(["balance"]).count().sort_values('address', ascending=True).head(20)

Balances with less address grouped

         address
balance
2              4
1           5447